<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to our Add Data Page!</h1>
    <form action="/addData" method="POST">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age">
        <br><br>
        <legend>Gender:</legend>
            <input type="radio" id="genderMale" name="gender" value="M">
            <label for="genderMale">Male</label><br>
            <input type="radio" id="genderFemale" name="gender" value="F">
            <label for="genderFemale">Female</label><br>
            <input type="radio" id="genderOther " name="gender" value="O">
            <label for="genderOther">Other (Perfer not to Identify)</label><br>
        <br><br>
        <label for="relationshipStatus">Relationship Status:</label>
        <select id="relationshipStatus" name="relationshipStatus">
            <option value="single">Single</option>
            <option value="inRelationship">In a Relationship</option>
            <option value="married">Married</option>
            <option value="divorced">Divorced</option>
        </select>
        <br><br>
        <label for="occupationStatus">Occupation Status:</label>
        <select id="occupationStatus" name="occupationStatus">
            <option value="universityStud">University Student</option>
            <option value="schoolStudent">School Student</option>
            <option value="salariedWorker">Salaried Worker</option>
            <option value="retired">Retired</option>
            <option value="noOccupation">N/A</option>
        </select>
        <br><br>
        <label for="organizationName">Affiliated Organizations:</label>
            <input type="checkbox" id="university" name="platform" value="university">
            <label for="university">University</label><br>

            <input type="checkbox" id="goverment" name="platform" value="goverment">
            <label for="goverment">Government</label><br>

            <input type="checkbox" id="company" name="platform" value="company">
            <label for="company">Company</label><br>

            <input type="checkbox" id="private" name="platform" value="private">
            <label for="private">Private</label><br>

            <input type="checkbox" id="none" name="platform" value="none">
            <label for="none">N/A</label><br>
        <br><br>
        <label for="socialMediaUsage">Do you use Social Media?  (Y/N):</label>
        <input type="checkbox" id="socialMediaUsage" name="socialMediaUsage">
        <br><br>
        <label>What Platforms do you Use?</label><br>
            <input type="checkbox" id="instagram" name="platform" value="instagram">
            <label for="instagram">Instagram</label><br>

            <input type="checkbox" id="twitter" name="platform" value="twitter">
            <label for="twitter">Twitter</label><br>

            <input type="checkbox" id="youtube" name="platform" value="youtube">
            <label for="youtube">Youtube</label><br>

            <input type="checkbox" id="facebook" name="platform" value="facebook">
            <label for="facebook">Facebook</label><br>

            <input type="checkbox" id="reddit" name="platform" value="reddit">
            <label for="reddit">Reddit</label><br>

            <input type="checkbox" id="discord" name="platform" value="discord">
            <label for="discord">Discord</label><br>

            <input type="checkbox" id="snapchat" name="platform" value="snapchat">
            <label for="snapchat">Snapchat</label><br>

            <input type="checkbox" id="tiktok" name="platform" value="tiktok">
            <label for="tiktok">TikTok</label><br>

            <input type="checkbox" id="pinterest" name="platform" value="pinterest">
            <label for="pinterest">Pinterest</label><br>
        <br><br>
        <label for="avgDailyTime">What is the average time you spend on social media every day?</label>
        <input type="number" id="avgDailyTime" name="avgDailyTime">
        <br><br>
        <label for="purpose">How often do you find yourself using Social media without a specific purpose?</label>
        <input type="number" id="purpose" name="purpose">
        <br><br>
        <label for="distracted">How often do you get distracted by Social media when you are busy doing something?</label>
        <input type="number" id="distracted" name="distracted">
        <br><br>
        <label for="restless">Do you feel restless if you haven't used Social media in a while?</label>
        <input type="number" id="restless" name="restless">
        <br><br>
        <label for="easilyDistracted">On a scale of 1 to 5, how easily distracted are you?</label>
        <input type="number" id="easilyDistracted" name="easilyDistracted">
        <br><br>
        <label for="worried">On a scale of 1 to 5, how much are you bothered by worries?</label>
        <input type="number" id="worried" name="worried">
        <br><br>
        <label for="concentration">Do you find it difficult to concentrate on things?</label>
        <input type="number" id="concentration" name="concentration">
        <br><br>
        <label for="comparison">On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?</label>
        <input type="number" id="comparison" name="comparison">
        <br><br>
        <label for="comparisonFeelings">Following the previous question, how do you feel about these comparisons, generally speaking?</label>
        <input type="number" id="comparisonFeelings" name="comparisonFeelings">
        <br><br>
        <label for="validation">How often do you look to seek validation from features of social media?</label>
        <input type="number" id="validation" name="validation">
        <br><br>
        <label for="depression">How often do you feel depressed or down?</label>
        <input type="number" id="depression" name="depression">
        <br><br>
        <label for="interests">On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?</label>
        <input type="number" id="interests" name="interests">
        <br><br>
        <label for="sleep">On a scale of 1 to 5, how often do you face issues regarding sleep?</label>
        <input type="number" id="sleep" name="sleep">
        <br><br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>