<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <h1>Please Login with your Admin credentials.</h1>

    <!-- Login Form -->
    <form action="/storeLogin" method="post">
        <h2>Create Account</h2>
        <label for="login-username">Username:</label><br>
        <input type="text" id="login-username" name="username" required><br>

        <label for="login-password">Password:</label><br>
        <input type="password" id="login-password" name="password" required><br>
        <br><br>
        <button type="submit">Create</button>
    </form>
    <br><br>

    <!-- Verify Login Form -->
    <form action="/findLogin" method="post">
        <h2>Login</h2>
        <label for="verify-username">Username:</label><br>
        <input type="text" id="verify-username" name="username" required><br>

        <label for="verify-password">Password:</label><br>
        <input type="password" id="verify-password" name="password" required><br>
        <br><br>
        <button type="submit">Login</button>
    </form>
    <br><br>
</body>

</html>